canvas {
	border:1px solid #d3d3d3;
}
table {
	border-collapse: collapse;
	border:none;
}
td.emin {
	text-align: right;
}
tr.legend td {
	border-width:0 1px 0 0;
}
tr.legend td:first-child {
	border-width:0 0 0 1px;
}
tr.options td {
	border-width:0 1px 0 0;
	font-size:14px;
}
tr.options td:first-child {
	border-width:0 0 0 1px;
}
tr.scale td {
	border-width:0 1px 0 1px;
	padding:0;
	margin:0;
}
canvas#colorscale {
	padding: 0;
	margin: 0;
}
noscript {
	color: red;
}
tr.head td {
	border-bottom: none;
}
tr.footer td {
	font-size:8px;
	border:none;
	text-align:center;
}
